# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Home Assistant
*.log
*.db
*.db-shm
*.db-wal

# Virtual environments
venv/
.venv/
env/
